/* Footer */

	#footer {
		background-color: #f7f7f7;
		color: #999999;
		padding: 3em 0 3em 0;
		text-align: center;
	}

	@media screen and (max-width: 980px) {

		#footer {
			padding: 2em 4em 2em 4em;
		}

	}

	@media screen and (max-width: 736px) and (orientation: landscape) {

		#footer {
			padding: 2em 3em 2em 3em;
		}

	}

	@media screen and (max-width: 736px) and (orientation: portrait) {

		#footer {
			padding: 2em 1.5em 2em 1.5em;
		}

	}
